.layout-wrapper {
  margin: auto;
  width: min(100%, 120rem);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid red;
}
.layout-wrapper > * {
  border: 2px solid pink;
}
.layout-element:first-child,
.layout-element:last-child {
  max-width: 25rem;
}
.layout-element:nth-child(2) {
  min-width: 55rem;
  max-width: 60rem;
}
