.layout-wrapper {
  margin: auto;
  width: min(100%, 110rem);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.layout-wrapper > div:first-child,
.layout-wrapper > div:last-child {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}
.layout-wrapper > div:first-child {
  border-right: 2px solid var(--clr-3-dark);
}
.layout-wrapper > div:nth-child(2) {
  width: 60rem;
  border-top: none;
  border-bottom: none;
}
.layout-wrapper > div:last-child {
  border-left: 2px solid var(--clr-3-dark);
}
