.layout-wrapper {
  margin: auto;
  width: min(100%, 120rem);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
}
.layout-element:first-child,
.layout-element:last-child {
  padding: 2rem;
  max-width: 25rem;
}
.layout-element:first-child {
  border-right: 2px solid var(--clr-3-dark);
}
.layout-element:nth-child(2) {
  min-width: 55rem;
  max-width: 60rem;
  border-top: none;
  border-bottom: none;
}
.layout-element:last-child {
  border-left: 2px solid var(--clr-3-dark);
}
