.profile-headerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-handleWarning {
  visibility: hidden;
}
.profile-handleWarning-taken {
  visibility: visible;
  color: red;
}
.profile-followLabel {
  padding: 0.3rem;
  width: max-content;
  font-size: 1.6rem;
  background: rgb(197, 197, 197);
  border-radius: 0.5rem;
}
.profile-followsWrapper {
  display: flex;
  gap: 1rem;
}

.profile-feedSelectorWrapper {
  margin: 1.6rem 0 1rem 0;
  display: flex;
  justify-content: space-around;
}
.profile-feedSelector {
  padding-bottom: 0.5rem;
  width: 7rem;
  text-align: center;
  border-bottom: 3px solid black;
  cursor: pointer;
  transition: all 0.15s;
}
.profile-feedSelector-active {
  border-bottom-color: dodgerblue;
}

.profile-nonexistantUser {
  margin: 2rem 3rem;
  font-style: italic;
}
