.bigTweet-wrapper {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bigTweet-wrapper-deleted {
  padding: 3rem 1.65rem;
  font-style: italic;
}
.bigTweet-innerContainer {
  padding: 2rem 0;
  border-top: 1px solid var(--clr-3-dark);
}
.bigTweet-header {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2.5rem;
}
.bigTweet-backButton {
  display: flex;
  justify-content: center;
}

.bigTweet-divider {
  margin: 2rem 0;
  height: 0.1rem;
  background: var(--clr-3-dark);
}
.bigTweet-tweetWrapper > .bigTweet-divider {
  margin-top: 1rem;
}

.bigTweet-middleRow {
  display: flex;
  gap: 1rem;
}
.bigTweet-avi {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  background: var(--clr-3);
  border-radius: 10rem;
}
.bigTweet-nameAndHandleWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--clr-2);
}
.bigTweet-nameAndHandleWrapper > a {
  text-decoration: none;
  color: inherit;
}
.bigTweet-displayName {
  font-weight: bold;
}
.bigTweet-displayName:hover {
  text-decoration: underline;
}
.bigTweet-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--clr-3);
}

.bigTweet-deleteContainer {
  height: 2rem;
  display: flex;
}
.bigTweet-preDelete {
  height: 2rem;
}
.bigTweet-preDelete-hidden {
  display: none;
}
.bigTweet-preDelete > span {
  color: var(--clr-3);
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 20;
}
.bigTweet-preDelete > span:hover {
  color: var(--clr-3-dark);
}
.bigTweet-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background: var(--clr-5);
}
.bigTweet-delete:hover {
  background: var(--clr-5-dark);
}
.bigTweet-delete-hidden {
  display: none;
}

.bigTweet-tweet {
  margin: 1rem 0;
  white-space: pre-wrap;
}
.bigTweet-timestamp {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--clr-3);
}
.bigTweet-replyLabel {
  color: var(--clr-3);
}
.bigTweet-replyLabel > a {
  text-decoration: none;
  color: var(--clr-4);
}

.bigTweet-statsRow {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  font-size: 1.7rem;
}
.bigTweet-stat {
  width: max-content;
  font-weight: bold;
  color: var(--clr-2);
}
.bigTweet-stat > a {
  text-decoration: none;
  color: inherit;
}
.bigTweet-stat > a:hover {
  text-decoration: underline;
}
.bigTweet-stat span {
  font-weight: normal;
  color: var(--clr-3);
}
.bigTweet-actionsRow {
  margin: -1rem 0 1rem 0;
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
}
.bigTweet-actionsRow,
.bigTweet-action,
.bigTweet-action > span {
  color: var(--clr-3);
}
.bigTweet-actionWrapper {
  position: relative;
}
.bigTweet-action {
  display: flex;
  gap: 0.7rem;
  background: none;
}
.bigTweet-action:hover,
.bigTweet-action > span:hover {
  background: none;
  color: var(--clr-4);
}
.bigTweet-likeButton {
  background: none;
  border: none;
  cursor: pointer;
}
.bigTweet-likeButton:hover {
  background: none;
  color: var(--clr-5-light);
}
.bigTweet-likeButton:active {
  color: var(--clr-5);
}
.bigTweet-likeButton-liked {
  color: var(--clr-5);
}

.bigTweet-action-disabled,
.bigTweet-action-disabled > span {
  color: var(--clr-3-dark);
  pointer-events: none;
}

.bigTweet-loading {
  margin: 5rem 3rem;
  font-style: italic;
}
