.tweetCard-wrapper {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
  border-top: 1px solid var(--clr-3-dark);
}
.tweetCard-wrapper-deleted {
  padding: 3rem 1.65rem;
  font-style: italic;
}
.tweetCard-middleRow {
  display: flex;
  gap: 1rem;
}
.tweetCard-avi {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  background: var(--clr-3);
  border-radius: 10rem;
}
.tweetCard-tweetAndUserWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.tweetCard-tweetAndUserWrapper > a {
  text-decoration: none;
  color: inherit;
}
.tweetCard-topRow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--clr-2);
}
.tweetCard-nameAndHandleWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.tweetCard-displayName {
  font-weight: bold;
  white-space: nowrap;
}
.tweetCard-displayName:hover {
  text-decoration: underline;
}
.tweetCard-handleAndDate {
  color: var(--clr-3);
}

.tweetCard-deleteContainer {
  height: 2rem;
  display: flex;
}
.tweetCard-preDelete {
  height: 2rem;
}
.tweetCard-preDelete-hidden {
  display: none;
}
.tweetCard-preDelete > span {
  color: var(--clr-3);
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 20;
}
.tweetCard-preDelete > span:hover {
  color: var(--clr-3-dark);
}

.tweetCard-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background: var(--clr-5);
}
.tweetCard-delete:hover {
  background: var(--clr-5-dark);
}
.tweetCard-delete-hidden {
  display: none;
}

.tweetCard-replyLabel {
  color: var(--clr-3);
}
.tweetCard-replyLabel > a {
  text-decoration: none;
  color: var(--clr-4);
}

.tweetCard-tweet {
  white-space: pre-wrap;
}

.tweetCard-bottomRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
}
.tweetCard-actionAndStats {
  position: relative;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.tweetCard-action {
  display: flex;
  align-items: center;
  background: none;
}
.tweetCard-action,
.tweetCard-action > span,
.tweetCard-stat {
  color: var(--clr-3);
}
.tweetCard-action:hover {
  background: none;
}
.tweetCard-action > span:active {
  color: var(--clr-4);
}
.tweetCard-likeWrapper {
  width: 4.5rem;
}
.tweetCard-likeButton {
  background: none;
  border: none;
  cursor: pointer;
}
.tweetCard-likeButton:active {
  color: var(--clr-5);
}
@media only screen and (hover: hover) {
  .tweetCard-action:hover,
  .tweetCard-action > span:hover {
    background: none;
    color: var(--clr-4);
  }
  .tweetCard-likeButton:hover {
    color: var(--clr-5-light);
    background: inherit;
  }
}
.tweetCard-likeButton-liked {
  color: var(--clr-5);
}
.tweetCard-action-disabled,
.tweetCard-action-disabled > span {
  color: var(--clr-3-dark);
  pointer-events: none;
}
