:root {
  /* black */
  --clr-1: black;
  --clr-1-nums: 0, 0, 0;
  --clr-1-light: rgb(30, 30, 30);
  /* white */
  --clr-2: white;
  /* grey */
  --clr-3: grey;
  --clr-3-dark: rgb(55, 55, 55);
  /* blue */
  --clr-4: dodgerblue;
  --clr-4-light: rgb(78, 167, 255);
  /* red */
  --clr-5: red;
  --clr-5-light: pink;
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: var(--clr-2);
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
.material-symbols-outlined {
  font-size: 2rem;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
input[type='text'] {
  background-color: var(--clr-1);
  border: 1px solid var(--clr-3);
}
button {
  padding: 0.3rem;
  background: var(--clr-4);
  border: none;
  border-radius: 0.2rem;
}
button:hover {
  background: var(--clr-4-light);
  cursor: pointer;
}
