:root {
  /* black */
  --clr-1: black;
  --clr-1-nums: 0, 0, 0;
  --clr-1-light: rgb(30, 30, 30);
  /* white */
  --clr-2: white;
  /* grey */
  --clr-3: grey;
  --clr-3-dark: rgb(55, 55, 55);
  /* blue */
  --clr-4: dodgerblue;
  --clr-4-light: rgb(78, 167, 255);
  /* red */
  --clr-5: red;
  --clr-5-light: pink;
  --clr-5-dark: rgb(204, 3, 3);
  --middle-width-mobile: 28rem;
  --middle-width-desktop: 60rem;
  font-size: 50%;
  background: var(--clr-1);
}
@media only screen and (min-width: 1000px) {
  :root {
    font-size: 62.5%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: var(--clr-2);
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
.material-symbols-outlined {
  font-size: 2rem;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
input[type='text'],
textarea {
  background-color: var(--clr-1);
  border: 1px solid var(--clr-3);
}
button {
  padding: 0.3rem 0.4rem;
  background: var(--clr-4);
  border: none;
  border-radius: 0.2rem;
  transition: all 0.15s;
}
button:hover {
  background: var(--clr-4-light);
  cursor: pointer;
}

.alert-textCopied {
  opacity: 0;
  z-index: -1;
  position: absolute;
  padding: 0.2rem 0.3rem;
  top: -50%;
  left: -125%;
  width: max-content;
  border-radius: 0.2rem;
  background: var(--clr-4);
  color: var(--clr-2);
  transition: all 0.25s;
}
.alert-textCopied-visible {
  opacity: 100%;
  z-index: 0;
}
